{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django y Vue by Mike el depredador</title>
</head>
<body>
    <h1 style="text-align: center;">08IDVA</h1>

    <div id="app" style="text-align: center;">
        [[ msg ]]
        <HelloDjango/>
    </div>

    {% render_bundle 'main' %}
</body>
</html>